<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <%= link_to "TestGuru", root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Gists', admin_gists_path, class: "nav-link" %>
        </li>
      </ul>
    </div>

    <span class="navbar-text">
      <% if user_signed_in? %>
        <%= t('welcome_master', first_name: current_user.first_name, last_name: current_user.last_name).html_safe %> |
        <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('signup'), new_user_registration_path %> |
        <%= link_to t('login'), new_user_session_path %>
      <% end %>
    </span>
    
  </div>
</nav>
