<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div>
  <% if @test_passage.passed? %>
    <% css_class = 'green_font' %>
    <%= content_tag :p, t('.passed') %>
  <% else %>
    <% css_class = 'red_font' %>
    <%= content_tag :p, t('.failed') %>
  <% end %>
</div>

<p>
  <%= content_tag :p, t('.correct_answers', level: @test_passage.success_level), class: css_class %>
</p>

<div class="row">
  <%= render @received_badges %>
</div>

<%= link_to t('.back'), tests_path %>