<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<%= content_tag :div, nil,
                class: 'passage_timer',
                data: { passageid: @test_passage.id, timer: @time_left } %>

<p>
  <%= t('.counter', current: @test_passage.current_question_number, total: @test_passage.test.questions.count) %>
</p>

<%= content_tag :div,
                class: 'progress',
                data: { progress: (@test_passage.current_question_number.to_f - 1) / @test_passage.test.questions.count * 100 } do %>
  <div class="progress-bar"></div>
<% end %>

<p>
  <%= @test_passage.current_question.body %>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('.next') %></p>
<% end %>