<h1>New Test</h1>

<%= form_with model: [:admin, @test] do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.order(:title), :id, :title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </p>

  <%= form.submit %>

<% end %>
