<%= form_with model: [:admin, @test] do |form| %>

  <div class="form-floating mb-3">
    <%= form.text_field :title, class: 'form-control' %>
    <%= form.label :title %>
  </div>

  <div class="form mb-3">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id,
                Category.order(:title), :id, :title, {:prompt => true},
                class: 'form-select' %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :level, class: 'form-control' %>
    <%= form.label :level %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :timer, class: 'form-control' %>
    <%= form.label :timer %>
  </div>

  <%= form.submit %>

<% end %>
