<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col" class="sort-by-title pointer">
        <%= Test.human_attribute_name(:title) %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= Test.human_attribute_name(:questions) %></th>
      <th scope="col"><%= t('actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<%= link_to t('create_m', model: Test.model_name.human), new_admin_test_path, class: 'btn btn-primary btn-sm mt-3' %>
