<h1><%= @test.title %></h1>

<table>
  <tr>
    <th><%= Test.human_attribute_name(:questions) %></th>
    <th colspan="3"><%= t('actions') %></th>
  </tr>

  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<div><%= link_to t('create_m', model: Question.model_name.human), new_admin_test_question_path(@test)  %></div>
<div><%= link_to t('.back'), admin_tests_path %></div>
