<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th><%= Test.human_attribute_name(:title) %></th>
    <th><%= Test.human_attribute_name(:questions) %></th>
    <th><%= t('actions') %></th>
  </tr>

  <%= render @tests %>
</table>
